/*Aliniem tot el body*/
body {
    text-align: center; 
}

/*Aliniem la taula deixan marcs*/
table{
    margin-left: 35%;
}

/*Cambiem el color del titol*/
h1 {
    color: aqua;
    font-weight: bold;
    text-align: center; 
}

/*Cambiem el color del subtitol*/
h2{
    color: brown;
}

/*Cambiem el color de fons de la primera fila de la taula*/
th{
    background-color: darkgray;
    font-weight: bold;
    text-align: center; 
}